
.blink{
    animation:blinking 1.5s infinite !important;
    font-size: 20px !important;
    }

@keyframes blinking{
    0%{   color: greenyellow;   }
    47%{   color: orangered; }
    62%{   color: yellow; }
    97%{   color:orangered; }
    100%{  color: goldenrod;   }
    }